In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

In [2]:
data = pd.read_csv('/home/thenielfarias/Downloads/genderHeightWeight.csv')
data.sample(5)

      Gender     Height      Weight
7626  Female  64.128616  145.236805
9910  Female  59.405654  111.853465
2190    Male  69.514604  174.215001
4809    Male  72.783766  201.668040
6154  Female  63.979823  156.624550

In [3]:
Gender = pd.get_dummies(data['Gender'], drop_first=True)
print(Gender)

      Male
0        1
1        1
2        1
3        1
4        1
...    ...
9995     0
9996     0
9997     0
9998     0
9999     0

[10000 rows x 1 columns]

In [4]:
data = pd.concat([data, Gender], axis=1)
print(data)

      Gender     Height      Weight  Male
0       Male  73.847017  241.893563     1
1       Male  68.781904  162.310473     1
2       Male  74.110105  212.740856     1
3       Male  71.730978  220.042470     1
4       Male  69.881796  206.349801     1
...      ...        ...         ...   ...
9995  Female  66.172652  136.777454     0
9996  Female  67.067155  170.867906     0
9997  Female  63.867992  128.475319     0
9998  Female  69.034243  163.852461     0
9999  Female  61.944246  113.649103     0

[10000 rows x 4 columns]

In [5]:
data.drop(['Gender'], axis=1, inplace=True)
print(data)

         Height      Weight  Male
0     73.847017  241.893563     1
1     68.781904  162.310473     1
2     74.110105  212.740856     1
3     71.730978  220.042470     1
4     69.881796  206.349801     1
...         ...         ...   ...
9995  66.172652  136.777454     0
9996  67.067155  170.867906     0
9997  63.867992  128.475319     0
9998  69.034243  163.852461     0
9999  61.944246  113.649103     0

[10000 rows x 3 columns]

In [6]:
X=data[['Height']]
Y=data['Male']

In [7]:
print(data)

         Height      Weight  Male
0     73.847017  241.893563     1
1     68.781904  162.310473     1
2     74.110105  212.740856     1
3     71.730978  220.042470     1
4     69.881796  206.349801     1
...         ...         ...   ...
9995  66.172652  136.777454     0
9996  67.067155  170.867906     0
9997  63.867992  128.475319     0
9998  69.034243  163.852461     0
9999  61.944246  113.649103     0

[10000 rows x 3 columns]

In [8]:
a = linear_model.LogisticRegression()
fitted_model = a.fit(X, Y)

In [9]:
Ypred=a.predict(X)
print(Ypred)

[1 1 1 ... 0 1 0]

In [10]:
print("Probabilities")
prob=a.predict_proba(X)
print(prob)
#Left side probability values for female and right side for male

Probabilities
[[0.00588925 0.99411075]
 [0.15837284 0.84162716]
 [0.00492571 0.99507429]
 ...
 [0.84352759 0.15647241]
 [0.13673511 0.86326489]
 [0.95249272 0.04750728]]

In [11]:
accuracy=a.score(X,Y)
print(accuracy)

0.8326